* {
  box-sizing: border-box;
}

.app {
  margin: auto;
  max-width: 500px;
}

.heading {
  text-align: center;
}

.song {
  background: black;
  border-radius: 10px;
  color: white;
  font-family: cursive;
  height: 300px;
  margin: 5px;
  padding: 35px 20px;
  position: relative;
}

.song::after,
.song::before {
  background: gray;
  border-radius: 100%;
  content: "";
  display: block;
  font-size: 70px;
  height: 70px;
  line-height: 70px;
  outline: 5px solid black;
  position: absolute;
  text-align: center;
  top: calc(50% - 35px);
  width: 70px;
  box-shadow: 0 0 5px 10px lightgray;
  z-index: 2;
}

.song::after {
  left: 25%;
}

.song::before {
  right: 25%;
}

.contents {
  background: white;
  color: black;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.contents::after,
.contents::before {
  content: "☰";
  position: absolute;
  color: lightgray;
  right: calc(50% - 25px);
  font-size: 50px;
  opacity: 0.5;
  transform: scaleX(1500%);
}

.contents::after {
  bottom: 0;
}

.contents::before {
  top: 0;
}

.details,
.name {
  position: relative;
}

.name {
  align-items: center;
  border-radius: 10px;
  display: flex;
  font-size: 35px;
  font-weight: bold;
  height: 30%;
  justify-content: center;
  line-height: 35px;
  margin: 0 10%;
  text-align: center;
  text-shadow: 0 0 3px white, 0 0 5px white, 0 0 10px white;
}

.details {
  bottom: 0;
  padding: 5px 10px;
  position: absolute;
  text-shadow: 0 0 2px white, 0 0 4px white;
}

.artist {
  font-weight: bold;
  text-align: left;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.genre {
  text-transform: capitalize;
}

.genre::after {
  content: ",";
  margin-right: 0.5em;
}

.artist,
.genre,
.year {
  display: inline-block;
  position: relative;
  z-index: 1;
  font-size: 20px;
}

.controls {
  border-radius: 10px;
  border: 1px solid gray;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: stretch;
  margin: 10px 5px;
  padding: 10px;
}

.controls :button,
.controls select {
  background: black;
  border: 3px solid gray;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px;
  width: 100%;
}